[Desktop Entry]
Name=Neovim
Comment=Edit text files with Neovim
Exec=alacritty -e /home/linuxbrew/.linuxbrew/bin/nvim %F
Terminal=false
Type=Application
Icon=/home/silver/.local/share/icons/neovim.png
Categories=Utility;TextEditor;

